/***********************************************************************************************************************
/*
/* Table of Contents
/*
/* 1. Loaders / #preloader, #status, #ajax-status
/* 2. Navigation / nav
/* 3. Ajax-box / #ajax-box
/* 4. Toast / .toast
/* 5. Card / .card
/* 6. Forms / #subscribe, #contact
/* 7. Tabs / .tabs
/* 8. Common styles
/* 9. Triangles / #triangles
/* 10. Services / .services
/* 11. Works / .filter-options, .picture-item
/* 12. About / .team
/* 13. Prices / .currency-switcher, .price-container
/* 14. Contact / .map
/* 15. Footer / .page-footer
/*
/**********************************************************************************************************************/
/***********************************************************************************************************************
/*
/* 1. Loaders / #preloader, #status, #ajax-status
/*
/**********************************************************************************************************************/
#preloader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; }
  #preloader .preloader-wrapper {
    margin: 0 auto; }
    #preloader .preloader-wrapper .spinner-blue-only.actually-black {
      border-color: black; }

#status {
  display: none;
  position: fixed;
  top: 100px;
  right: 50px; }

#ajax-status {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -32px; }

#ajax-status .spinner-blue-only.actually-green,
#status .spinner-blue-only.actually-green {
  border-color: #d50000; }

/***********************************************************************************************************************
/*
/* 2. Navigation / nav
/*
/**********************************************************************************************************************/
nav {
  background-color: rgba(255, 255, 255, 0.95); }
  nav .brand-logo,
  nav ul a {
    padding: 0 15px; }
  nav .nav-logo {
    height: 60px; }
    @media only screen and (max-width: 600px) {
      nav .nav-logo {
        height: 52px; } }
  nav .side-nav {
    background-color: rgba(255, 255, 255, 0.95); }
  nav .mdi-navigation-menu,
  nav .side-nav a {
    color: #212121;
    font-size: 2rem; }
  nav .table-of-contents li {
    padding: 0;
    height: 64px; }
  nav .table-of-contents a {
    display: block;
    height: 64px;
    line-height: 64px;
    font-weight: normal;
    color: black;
    border: none; }
    nav .table-of-contents a.active, nav .table-of-contents a:hover {
      color: black;
      border: none;
      padding-left: 20px; }
    nav .table-of-contents a.active {
      font-weight: normal;
      background-color: rgba(0, 0, 0, 0.1);
      border-bottom: 4px solid #d50000; }

/***********************************************************************************************************************
/*
/* 3. Ajax-box / #ajax-box
/*
/**********************************************************************************************************************/
#ajax-box {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 0.6s, 0.6s;
  -moz-transition-duration: 0.6s, 0.6s;
  transition-duration: 0.6s, 0.6s;
  -webkit-transition-timing-function: ease-out, ease;
  -moz-transition-timing-function: ease-out, ease;
  transition-timing-function: ease-out, ease; }
  #ajax-box.translate.enter {
    will-change: transform, opacity;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  #ajax-box.translate {
    will-change: transform, opacity;
    -webkit-transform: translate3d(0, 50%, 0);
    -moz-transform: translate3d(0, 50%, 0);
    -ms-transform: translate3d(0, 50%, 0);
    -o-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    opacity: 0; }
  #ajax-box .parallax img {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  #ajax-box #close-ajax {
    position: absolute;
    z-index: 8888;
    top: .75rem;
    left: .75rem; }
  #ajax-box .padding-text {
    padding: 1rem; }
  #ajax-box h1 {
    text-transform: uppercase;
    letter-spacing: 5px; }
    @media only screen and (max-width: 600px) {
      #ajax-box h1 {
        font-size: 36px;
        letter-spacing: 3px; } }

/***********************************************************************************************************************
/*
/* 8. Common styles
/*
/**********************************************************************************************************************/
body {
  overflow-x: hidden; }

a {
  color: #212121;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  a:hover {
    color: #545454; }
  a[role=button] {
    cursor: pointer; }

.responsive-img {
  display: block; }

.container {
  max-width: 1700px;
  width: 90%; }
  @media only screen and (min-width: 601px) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 993px) {
    .container {
      width: 90%; } }

.wide-container {
  padding: 0 .75rem; }

.section {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .section.grey-section {
    background: #f2f2f2; }

h2 {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 200;
  line-height: 110%;
  letter-spacing: 5px; }
  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 46px;
      letter-spacing: 3px; } }
  h2:after {
    content: '';
    position: absolute;
    left: 50%;
    display: block;
    width: 100px;
    height: 5px;
    margin-left: -50px;
    margin-top: 35px;
    background-color: #d50000; }

@media only screen and (min-width: 601px) {
  .right-on-med-and-up {
    float: right; } }
.social i {
  margin: 0 .25rem; }

blockquote {
  border-left: 5px solid #d50000; }

.waves-effect.waves-secondary-color .waves-ripple {
  background-color: #d50000; }

/***********************************************************************************************************************
/*
/* 14. Contact / .map
/*
/**********************************************************************************************************************/
#map {
  height: 500px; }

/***********************************************************************************************************************
/*
/* 15. Loaders / #preloader, #status, #ajax-status
/*
/**********************************************************************************************************************/
footer.page-footer {
  margin-top: 2rem;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.05); }
  footer.page-footer .footer-copyright {
    color: black; }
