$white: white;
$black: black;

$light-gray: rgba(0, 0, 0, .1);
$extra-light-gray: #f2f2f2;

$red-accent: #d50000;
$light-black: #212121;

$error: #f44336;
$success: #00e676;

$primary-color: $light-black !default;
$secondary-color: $red-accent !default;
